<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация клиента</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <div>
    <h1>Регистрация пользователя</h1>
  </div>
  <form th:action="@{/registartion}" th:object="${user}"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3" th:object="${client}">
      <div class="form-group row">
<!--        <div class="alert" th:if="${message}" th:text="${message}"></div>-->
        <label class="col-4 col-form-label">E-mail: </label>

<!--          роль установила как юзер-->

        <div class="col-8" th:field="${user.role.setUser()}">
          <input type="email"  th:field="${user.email}" class="form-control" required />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Password: </label>
        <div class="col-8">
          <input type="password" th:field="${user.password}" class="form-control"
                 required minlength="6" maxlength="10"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Имя: </label>
        <div class="col-8">
          <input type="text" th:field="${client.name}" class="form-control"
                 required minlength="2" maxlength="20"/>

        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Фамилия: </label>
        <div class="col-8">
          <input type="text" th:field="${client.surname}" class="form-control"
                 required minlength="2" maxlength="20" />
        </div>
      </div>

      <div>
<!--        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>-->
          <button type="submit">Зарегистрироваться</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>