<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Регистрация прошла успешно</title>
</head>
<body>
<div class="container text-center">
    <h4>Регистрация прошла успешно!</h4>
    <form class="form__wrapper" action="#" th:action="@{/login}">
        <input class="login" type="submit" value="Войти">
    </form>
</div>
</body>
</html>