<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/templates/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/templates/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/templates/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/templates/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="icon" href="/templates/public/favicon.ico" th:href="@{/favicon.ico}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<header th:replace="layout :: header"></header>

<div th:replace="layout :: nav"></div>

<div class="table">
    <div class="bottom-left">
        <div class="col-sm-4">
            <h4><strong>Логин(email):</strong></h4>
            <h4 th:text="${user.email}"></h4>
            <br/>
            <h4><strong>Пароль: </strong></h4>
            <h4 th:text="${user.password}"></h4>
            <br/>
            <h4><strong>Роль пользователя: </strong></h4>
            <h4 th:text="${user.role}"></h4>
            <br/>
        </div>
        <div class="col-sm-8">
            <h4>Пользователи сайта: </h4>
            <table class="table-bordered">
                <thead>
                <tr>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Роль пользователя</th>
                </tr>
                </thead>
                <tr th:each="ticket : ${user.tickets}">
                    <tbody>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.role}"></td>
                    </tbody>
                </tr>


            </table>
        </div>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>